:root {
  --header-font-family: 'Heebo', sans-serif;
  --default-font-family: 'Playfair Display', serif;
  --text-color: #4c4c4c;
  --branding-color: #f8edeb;
  --primary-color: #d8e2dc;
  --secondary-color: #ece4db;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}

body h1 {
  font-family: var(--header-font-family);
}

nav {
  font-family: var(--default-font-family);
  text-transform: uppercase;
  background-color: var(--branding-color);
}

li:hover {
  text-transform: lowercase;
}

footer {
  margin: 60px 0;
}

footer h2 {
  text-align: center;
  font-size: 18px;
}

footer h4 {
  font-size: 38px;
  font-family: var(--header-font-family);
  text-align: center;
}

.hero {
  background-color: var(--branding-color);
  width: 100%;
  height: fit-content;
}

.hero h1,
.hero h2,
.hero h3,
.hero p {
  text-align: left;
}

.hero h1,
.contact-container h1 {
  font-size: 80px;
}

.hero h3 {
  font-size: 36px;
}

.hero h2 {
  font-size: 24px;
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: start;
}

.intro-img {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 40px 20px;
}

.spacer {
  padding-top: 90px;
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-info {
  text-align: left;
}

.app-info p {
  line-height: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  padding: 15px 60px;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
  transition: all 120ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
}

.content-container {
  background-color: var(--branding-color);
  margin: 0;
  padding: 0;
}

.work-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-example-text h2,
.work-example-text p {
  text-align: center;
}

.about-info {
  padding: 80px 30px 80px 30px;
}

.about-info-text {
  background-color: var(--branding-color);
}

.about-headshot {
  padding: 0;
  margin: 0;
  max-height: 550px;
}

.sm-about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--branding-color);
  padding: 5px 30px 10px 30px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: start;
}
.btn-about-branding {
  background-color: var(--primary-color);
  padding: 15px 20px;
  transition: all 120ms ease-in-out;
  margin-top: 8px;
  box-shadow: var(--box-shadow);
}

.btn-about-branding:hover {
  background-color: var(--secondary-color);
}

.contact-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 50px 30px;
}

.contact-box {
  background-color: var(--primary-color);
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 30px 60px;
  border-radius: 8px;
}

.social-img {
  width: 200px;
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

.fa-github,
.fa-envelope,
.fa-linkedin {
  color: var(--text-color);
  transition: all 120ms ease-in-out;
}

.fa-github:hover,
.fa-envelope:hover,
.fa-linkedin:hover {
  color: var(--text-color);
  font-size: 40px;
}

.email-link {
  color: var(--text-color);
  transition: all 120ms ease-in-out;
}

.email-link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .headshot {
    display: none;
  }

  .intro-img {
    padding: 0;
    display: none;
  }

  .hero h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  .hero h1 {
    font-size: 55px;
  }

  .hero h3 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 14px;
  }

  .content {
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .about-info {
    padding: 20px 30px 20px 30px;
  }

  .sm-about-img {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: var(--branding-color);
    padding-bottom: 30px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-info {
    text-align: center;
  }

  .sm-social {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  .sm-social-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
  }

  .fa-github,
  .fa-envelope,
  .fa-linkedin {
    color: var(--text-color);
    transition: all 120ms ease-in-out;
  }

  .fa-github:hover,
  .fa-envelope:hover,
  .fa-linkedin:hover {
    color: var(--text-color);
    font-size: 40px;
  }
}
