:root {
  --header-font-family: 'Heebo', sans-serif;
  --default-font-family: 'Playfair Display', serif;
  --text-color: #4c4c4c;
  --branding-color: #f8edeb;
  --primary-color: #d8e2dc;
  --secondary-color: #ece4db;
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}

body h1 {
  font-family: var(--header-font-family);
}

.hero {
  background-color: var(--branding-color);
  width: 100%;
  height: fit-content;
}

.hero h1,
h2,
h3,
p {
  text-align: left;
}

.hero h1 {
  font-size: 80px;
}

.hero h3 {
  font-size: 36px;
}

.hero h2 {
  font-size: 24px;
}

.info-text {
  display: flex;
  align-items: center;
  justify-content: start;
}

.intro-img {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 50px 20px;
}

.spacer {
  padding-top: 90px;
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-info {
  text-align: left;
}

.app-info p {
  line-height: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  padding: 15px 60px;
  margin-top: 10px;
}

.content-container {
  background-color: var(--branding-color);
  margin: 0;
  padding: 0;
}

.work-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-example-text h2,
p {
  text-align: center;
}

.about-info {
  padding: 80px 30px 80px 30px;
}

.about-info-text {
  background-color: var(--branding-color);
}

.about-headshot {
  padding: 0;
  margin: 0;
  max-height: 550px;
}

.sm-about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--branding-color);
  padding: 5px 30px 10px 30px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: start;
}
.btn-about-branding {
  background-color: var(--primary-color);
  padding: 15px 20px;
}

@media (max-width: 768px) {
  .headshot {
    display: none;
  }

  .intro-img {
    padding: 0;
    display: none;
  }

  .hero h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  .hero h1 {
    font-size: 55px;
  }

  .hero h3 {
    font-size: 28px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 14px;
  }

  .content {
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .about-info {
    padding: 20px 30px 20px 30px;
  }

  .sm-about-img {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: var(--branding-color);
    padding-bottom: 30px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-info {
    text-align: center;
  }
}
